@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0f0f;
    font-family: "Roboto", sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.aside {
    grid-column: 1/2;
    grid-row: 1/3;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    padding-top: 7px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.bg-gray-icon {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 50px;
}

.bg-gray-icon:hover {
    cursor: pointer;
    background-color: #343434b7;
}

.logo-container svg {
    width: 24px;
}

.logo-container img {
    width: 90px;
}

.search-container {
    display: flex;
    margin-left: 10px;
    gap: 20px;
}

.input-container {
    display: flex;
    width: 600px;
    border-radius: 20px;
    border: 1px solid #303030;
}

.input-container input {
    width: 90%;
    border: none;
    outline: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #121212;
    padding: 0 4px 0 16px;
    color: white;
    font-size: 16px;
}

.input-container input:focus {
    border: 1px solid #065fd4;
}

.magnifying-icon {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #303030;
    background-color: #343434b7;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.magnifying-icon:hover {
    cursor: pointer;
}

.magnifying-icon svg {
    height: 23px;
    width: 23px;
}

.microphone-container {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 25px;
    background-color: #343434b7;
}

.microphone-container svg {
    color: white;
    height: 24px;
    width: 24px;
    padding: 2px;
}

.microphone-container:hover {
    background-color: #4d4d4db7;
    cursor: pointer;
}

.user-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-img-container {
    height: 32px;
    width: 32px;
    margin-left: 10px;
}

.user-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.user-container img:hover {
    cursor: pointer;
}

.aside {
    padding: 7px 0;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-icon {
    margin-bottom: 20px;
}

.aside-icon-container {
    text-align: center;
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
}

.aside-icon-container:hover {
    cursor: pointer;
    background-color: rgba(117, 117, 117, 0.279);
}

.aside-icon-container svg {
    color: rgb(224, 224, 224);
    height: 24px;
    width: 24px;
}

.aside-icon-text {
    color: white;
    font-size: 10px;
    margin-top: 5px;
}

/*        Filters        */
.main {
    padding: 15px 30px;
}

.main-section-list {
    list-style: none;
    display: flex;
    gap: 10px;
}

.section-list-item {
    font-size: 14px;
    color: white;
    padding: 7px 12px;
    border-radius: 8px;
    background-color: #303030c0;
    font-weight: 500;
    transition: background-color 0.4s ease;
}

.section-list-item:hover {
    cursor: pointer;
    background-color: #4a4a4a;
}

.section-list-item:first-child {
    color: #303030;
    background-color: white;
}

/*        CARD        */



.temporal {
    width: 100px;
}

.card {}

.card svg {
    color: white;
}

.card-img-container {}

.temporal {}

.card-info-container {}

.user-img-container {}

.card-text-container {}

.card-video-title {}

.card-user-name-container {}

.card-user-name {}

.card-video-description {}

.card-video-options-container {}